.paragraph {
    background-color: lightpink;
}

.secondParagraph {
    font-weight: bold;
    font-size: large;
}

#div {
    color: blue;
    font-size: xx-large;
}

#anotherDiv {
    background-color: lightgreen;
    font-weight: bolder;
}